@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: url('../src/static/fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('../src/static/fonts/Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../src/static/fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../src/static/fonts/Roboto-Black.ttf') format('ttf');
    font-weight: 900;
    font-display: swap;
}

@layer base {
    :root {
        --font-primary: 'Roboto', sans-serif;
    }
}

@theme {
    --color-primary: #E6E6FA;
    --color-secondary: #7B68EE;
    --color-accent: #9370DB;

    --font-primary: 'Roboto', sans-serif;

    --background-image-hero: url('./images/homepage/hero.png');

    /* This is teh text for small screens */
    --text-sm-h1: 2.5rem;
    --text-sm-h1--font-weight: 700;
    --text-sm-h2: 2.0rem;
    --text-sm-h2--font-weight: 700;
    --text-sm-h3: 1.5rem;
    --text-sm-h3--font-weight: 600;
    --text-sm-h4: 1.0rem;
    --text-sm-h4--font-weight: 600;
    --text-sm-body: 1.0rem;
    --text-sm-body--font-weight: 400;


    /* This is teh text for medium screens */
    --text-md-h1: 2.625rem;
    --text-md-h1--font-weight: 700;
    --text-md-h2: 2.125rem;
    --text-md-h2--font-weight: 600;
    --text-md-h3: 1.625rem;
    --text-md-h3--font-weight: 600;
    --text-md-h4: 1.125rem;
    --text-md-h4--font-weight: 600;
    --text-md-body: 1.125rem;
    --text-md-body--font-weight: 400;

    /* This is teh text for extra large screens */
    --text-xl-h1: 2.750rem;
    --text-xl-h1--font-weight: 700;
    --text-xl-h2: 2.250rem;
    --text-xl-h2--font-weight: 600;
    --text-xl-h3: 1.750rem;
    --text-xl-h3--font-weight: 600;
    --text-xl-h4: 1.250rem;
    --text-xl-h4--font-weight: 600;
    --text-xl-body: 1.250rem;
    --text-xl-body--font-weight: 400;
}


.blackOverlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.galleryBlackOverlay {
    background-color: rgba(0, 0, 0, 0.25);
}